name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    - name: Install System Dependencies
      run: |
        sudo apt-get install -y libcurl4-openssl-dev libxslt-dev libxml2-dev
    - name: Install Ruby Gems
      run: |
        gem install jekyll html-proofer
      env:
        NOKOGIRI_USE_SYSTEM_LIBRARIES: true
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build the website
      run: |
        jekyll build
    - name: Site structure
      run: ls -R _site
    - name: Test with html-proofer
      run: |
        htmlproofer _site

