name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    - name: Ruby Bundler cache
      uses: actions/cache@v1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
   - name: Install System Dependencies
      run: |
        sudo apt-get install -y libxslt-dev
    - name: Bundle install
      run: |
        gem install bundler
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
      env:
        NOKOGIRI_USE_SYSTEM_LIBRARIES: true
    - name: Build the website
      run: |
        bundle exec jekyll build
    - name: Site structure
      run: ls -R _site
    - name: Test with html-proofer
      run: |
        bundle exec htmlproofer _site

